@import url("https://fonts.googleapis.com/css2?family=Exile&display=swap");
@import "tailwindcss";

@theme{
    --color-primary:#EEEEEE;
    --color-secondary:#393E46;
    --color-accent:#222831;
    --font-fancy: 'Exile' , sans-serif;
}